.footer {
    border-top: none;
    margin-top: auto;
}

footer a {
    text-decoration: none;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
}

.footer__svg-icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    padding-right: 5px;
    vertical-align: text-top;
}

.footer__icon-text {
}