.posts-container {
    margin: 10px auto;
}

body {
    grid-template-rows: 2em auto;
}

.posts-header {
}

.post-container {
    font-size: 1.5em;
}

.post-container-date {
    font-size: 0.6em;
    color: gray;
    margin-left: 1em;
}

.navbar {
    margin: 1em;
}