{{define "footer"}}
<link rel="stylesheet" href="/static/footer.css">
<footer class="footer">
    <a href="https://github.com/OlegStotsky">
        <img src="https://www.svgrepo.com/show/506497/github.svg" class="footer__svg-icon"/><span class="footer__icon-text">olegstotsky</span>
    </a>

    <a href="https://twitter.com/e_boy_coding">
        <img src="https://www.svgrepo.com/show/448252/twitter.svg" class="footer__svg-icon" /><span class="footer__icon-text">olegstotsky</span>
    </a>

</footer>
{{end}}